---
import type { ProductWithImages } from '../interfaces/products-with-images.interface';

interface Props {
    product:ProductWithImages;
}

const product= Astro.props;
//cconsole.log("producto: ",product)

const currentImage = product.product.images.split(',')
//console.log('currentImage:',currentImage)
---

<!-- <section
    class="p-4 m-4 border-2 border-black shadow-lg bg-guacamole-a font-unique"
>   <a href={`products/${product.product.slug}`}>
    <div  class="w-full h-full">
        <img
            id="card-img"
            src={currentImage[0]}
            data-first={currentImage[0]}
            data-second={currentImage[1]}
            alt="Guacamole"
            class=" border-2 border-black h-[350px] object-contain"
        />
    </div>
    </a>
    <p class="text-guacamole-f font-bold text-xl flex justify-center">{product.product.title}</p>
    <p class="text-lg text-guacamole-f my-4"></p>
    <div class="flex justify-between items-center">
        <p class="text-2xl font-bold text-guacamole-d">$ {product.product.price}</p>
        <a href="/guacamole" class="text-2xl text-guacamole-f cursor-pointer"
            >Comprar</a
        >
    </div>
</section> -->

<div  class='bg-white cursor-pointer w-4/5 h-full border-4 border-black-medium p-2 '>
  <a href={`products/${product.product.slug}`}>
            <figure class='relative mb-2 w-full h-80'>
                <span class='font-mono absolute bottom-0 left-0 bg-white/60 rounded-lg text-black text-sm m-2 px-3 py-0.5'>{product.product.price}</span>
                <img class='w-full h-full object-cover  shadow-2xl' src={currentImage[0]} alt={product.product.title} src={currentImage[0]}
            data-first={currentImage[0]}
            data-second={currentImage[1]}
            id="card-img"/>
            </figure>
            </a>
            <p class='grid place-content-center'>
                <span class='font-mono text-lg font-bold'>{product.product.title}</span>
                <span class='font-mono text-xl font-light'>{product.product.description}</span>
            </p>
        </div>


<script>
  const images = document.querySelectorAll('#card-img');
  images.forEach((img) => {
    const imageElement = img as HTMLImageElement;
    const firstSrc = imageElement.dataset.first;
    const secondSrc = imageElement.dataset.second;

    imageElement.addEventListener('mouseenter', () => {
      if (secondSrc) {
        imageElement.src = secondSrc;
      }
    });

    imageElement.addEventListener('mouseleave', () => {
      if (firstSrc) {
        imageElement.src = firstSrc;
      }
    });
  });
</script>
